  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= cl_image_tag("12034398_903644366396660_3222835866699408345_o_xkuyhh", :width => 760, :height => 500, :crop => :fill) %>
      </div>
      <div class="item">
        <%= cl_image_tag("1266832_620174784680733_1888197632_o_dgnktq", :width => 760, :height => 500, :crop => :fill) %>
      </div>
      <div class="item">
        <%= cl_image_tag("1233136_620175601347318_764436963_o_n3i4ru", :width => 760, :height => 500, :crop => :fill) %>
      </div>
      <div class="item">
        <%= cl_image_tag("1039510_522304921168617_1344063730_o_tjmxen", :width => 760, :height => 500, :crop => :fill) %>
      </div>
      <div class="item">
        <%= cl_image_tag("965527_670959106252803_437213792_o_se0mkm", :width => 760, :height => 500, :crop => :fill) %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>